:root{
    --primary-color: red;
    --secondary-color: black;
    --background-color: white;
    --text-color: black;
}

h1{
    text-align: center;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    font-weight: bolder;
    color: red;
}

h2{
    text-align: center;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.431);
}

h3{
    text-align: left;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    font-weight: normal;
    color: black; 
}
p{
    text-align: center;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    font-weight: normal;
    color: black;
}

img{
    max-width: 100%;
    height: auto;
    margin: auto;
}

button{
    background-color: var(--primary-color);
    color: azure;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

div{
    background-color: red;
    overflow: hidden;
    margin: auto;
}
div a{
     float : left;
     display :block;
     text-align: center;
     padding: 16px 16px;
     text-decoration: none;
     color: white;
}

div a:hover{
    background-color: gray;
    color: red;
}

.centered-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}